source_up
PATH_add node_modules/.bin
export XDG_CONFIG_HOME=`pwd`/.config
export CLOUDSDK_CONFIG=`pwd`/.config
export GOOGLE_APPLICATION_CREDENTIALS=${CLOUDSDK_CONFIG}/application_default_credentials.json
export CLOUDSDK_CORE_PROJECT=rody-splatoon3-buki-scope
